<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Karma Shop</title>
<!--
		CSS
		============================================= -->
<link rel="stylesheet" href="css/linearicons.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/themify-icons.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/nice-select.css">
<link rel="stylesheet" href="css/nouislider.min.css">
<link rel="stylesheet" href="css/ion.rangeSlider.css" />
<link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/main.css">
</head>


<body class="bg-dark">

	<div class="container">
		<div class="card card-register mx-auto mt-5">
			<div class="card-header">Fazer uma conta</div>
			<div class="card-body">
				<form th:object="${cliente}" th:action="@{/cadastroSalvar}"
					method="POST">
					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-label-group"
									th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
									<input type="text" id="firstName" th:field="*{nome}"
										class="form-control" placeholder="Nome Completo"
										required="required" autofocus="autofocus">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-label-group"
									th:classappend="${#fields.hasErrors('cpf')}? 'has-error'">
									<input type="text" id="lastName" th:field="*{cpf}"
										class="form-control" placeholder="cpf" required="required">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-label-group"
							th:classappend="${#fields.hasErrors('email')}? 'has-error'">
							<input type="email" id="inputEmail" th:field="*{email}"
								class="form-control" placeholder="Endereço de e-mail"
								required="required">
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-2">
								<select th:field="*{cidade}" class="form-control">
									<option th:each="cidade: ${cidades}" th:value="${cidade.id}"
										th:text="${cidade.nome}"></option>
								</select>
							</div>
							<div class="col-md-10">
								<div class="form-label-group"
									th:classappend="${#fields.hasErrors('senha')}? 'has-error'">
									<input type="password" id="inputPassword" th:field="*{senha}"
										class="form-control" placeholder="Senha" required="required">
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-label-group"
									th:classappend="${#fields.hasErrors('id')}? 'has-error'">
									<input type="hidden" id="id" th:field="*{id}" value="" />
								</div>
							</div>

						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
				</form>
				<div class="text-center">
					<a class="d-block small mt-3" href="/loginCliente">Página de Login</a>
				</div>
			</div>
		</div>
	</div>

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>
