@keyframes hide {
  from { opacity: 1 }
  to   { opacity: 0 }
}

.alert-success {
  animation: hide 2s 2s forwards;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6
}